<div class="px-4">
  <div class="d-none d-lg-block">
    <div class="progress mt-4 mb-3" style="height: 10px;">
      <div class="progress-bar bg-info" role="progressbar" data-bind="style: { width: scrollPercentage() + '%' }"
        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="d-lg-none">
    <div class="progress mt-4 mb-3 d-lg-none" style="height: 5px;">
      <div class="progress-bar bg-info" role="progressbar" data-bind="style: { width: scrollPercentage() + '%' }"
        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>