<div class="row">
    <div class="col-2">
        <!-- ko if: showMinus -->
        <button type="button" class="w-100 btn btn-primary" data-bind="click: minusClicked">-</button>
        <!-- /ko -->
    </div>

    <div class="col-8">
        <field-number params="id: id, textAlign: 'center'"></field-number>
    </div>

    <div class="col-2">
        <!-- ko if: showPlus -->
        <button type="button" class="w-100 btn btn-primary" data-bind="click: plusClicked">+</button>
        <!-- /ko -->
    </div>

</div>