<!-- ko if: isVisible -->
<div class="ps-3">
  <div class="form-group row my-2 border-start border-4 border-primary">
    <div class="col-12">
      <div class="card notification">
        <div class="card-body">
          <h5 class="card-title" data-bind="text: title"></h5>
          <span class="card-text" data-bind="text: body"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /ko -->