.progress-breadcrumb {
    cursor: default;
    color: rgba(224,216,231,.32);
    text-align: center;
    margin: 8px 0;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.progress_breadcrumb_active {
    cursor: pointer;
    color: #fff;
    transition: all .5s ease-in-out;
}