<div class="nav nav-pills nav-justified" data-bind="foreach: steps">

  <div class="nav-item">

    <step-progress params="stepId: $data.step.id"></step-progress>

    <span class="d-none d-lg-block mb-4 progress-breadcrumb" data-bind="css: { progress_breadcrumb_active: active }, click: $parent.stepClicked, text: step.name"
      aria-current="page" href="#"></span>
  </div>
</div>