<div class="d-inline d-sm-block mt-2" data-bind="click: linkClicked">
  <a data-bind="attr: { href: '#help-text-collapse-' + id, 'aria-controls': 'help-text-collapse-' + id }"
    data-bs-toggle="collapse" role="button" aria-expanded="true">
    <i class="bi bi-info-circle d-sm-none position-absolute top-0 end-0 pt-4" style="font-size: 1.2rem; color: primary;"></i>
    <i class="bi bi-info-circle d-none d-sm-inline" style="font-size: 1.2rem; color: primary;"></i>

    <span class="d-none d-sm-inline ms-2" data-bind="text: linkText"></span>
  </a>
</div>
<div class="collapse mt-4 mt-sm-3" data-bind="attr: { id: 'help-text-collapse-' + id }">
  <div class="card card-body border border-primary border-3 rounded-1" data-bind="text: helpText">
  </div>
</div>