<div class="row">
    <!-- ko if: displayAsLists -->

    <div class="input-group">
        <!-- ko if: dayShown -->
        <input type="text" class="form-control" style="text-align:center;" min="0" data-bind="attr: { 'onkeypress': true ? `return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))` : null,
         placeholder: dayPlaceholder }, 
                                                                value: dayValue,
                                                                valueUpdate: 'blur'">
        <!-- /ko -->

        <!-- ko if: monthShown -->
        <input type="text" class="form-control" style="text-align:center;" min="0" data-bind="attr: { 'onkeypress': true ? `return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))` : null,
        placeholder: monthPlaceholder }, 
                                                                value: monthValue,
                                                                valueUpdate: 'blur'">
        <!-- /ko -->

        <!-- ko if: yearShown -->
        <input type="text" class="form-control" style="text-align:center;" min="0" data-bind="attr: { 'onkeypress': true ? `return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))` : null,
         placeholder: yearPlaceholder }, 
                                                                value: yearValue,
                                                                valueUpdate: 'blur'">
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko ifnot: displayAsLists -->

    <!-- ko if: dayShown -->
    <div class="col">
        <select class="form-control" data-bind=" options: dayOptions, 
                        optionsCaption: dayPlaceholder,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: dayValue,
                        optionsAfterRender: setOptionDisable"></select>
    </div>
    <!-- /ko -->

    <!-- ko if: monthShown -->
    <div class="col">
        <select class="form-control" data-bind=" options: monthOptions, 
                        optionsCaption: monthPlaceholder,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: monthValue,
                        optionsAfterRender: setOptionDisable"></select>
    </div>
    <!-- /ko -->

    <!-- ko if: yearShown -->
    <div class="col">
        <select class="form-control" data-bind=" options: yearOptions, 
                        optionsCaption: yearPlaceholder,
                        optionsText: 'text',
                        optionsValue: 'value',
                        value: yearValue,
                        optionsAfterRender: setOptionDisable"></select>
    </div>
    <!-- /ko -->

    <!-- /ko -->

    <!-- ko if: confirmButtonVisible -->
    <button type="button" class="btn btn-primary">Confirm</button>
    <!-- /ko -->

    <!-- testing if: value() === undefined -->
    <!-- <p>Current Value is undefined</p> -->
    <!-- /testing -->

    <!-- testing if: value() !== undefined -->
    <!-- <p>Current Value: <span data-bind="text: value"></span></p> -->
    <!-- /testing -->
</div>