<!-- ko if: showRemovalWarning -->
<p class="fw-bold" data-bind="text: groupRemovalWarning">
</p>
<div class="col-xs-12 pb-3">
    <button type="button" class="btn btn-primary" data-bind="click: removeAllClicked">
        Remove
    </button>
    <button type="button" class="btn btn-primary" data-bind="click: cancelRemoveAllClicked">
        Cancel
    </button>
</div>
<!-- /ko -->
<div data-bind="class: opacityValue">

    <question params="id: collectionSummaryQuestionId, isDependantQuestion: true"></question>

    <!-- ko if: showAddButton -->
    <div class="col-xs-12 col-sm-6 offset-sm-6 pt-3">
        <button type="button" class="btn btn-primary" data-bind="click: addAnotherClicked, text: addAnotherText">
        </button>
    </div>
    <!-- /ko -->

    <!-- ko if: showDataCapture -->
    <collection-data-capture params="id: collectionQuestion.id">
    </collection-data-capture>
    <!-- /ko -->
</div>