<div class="dropdown-menu position-static d-flex align-items-stretch p-3 rounded-3 shadow bg-body w-600px">
    <ul data-bind="foreach: assumptions">
        <field-assumption params="id: $data"></field-assumption>
    </ul>
</div>