<!-- ko foreach: options.values -->
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox"
        data-bind="attr: { id: $component.id + value, value: value }, 
        checked: $component.value, 
        checkedValue: value"
        autocomplete="off">
    <label class="form-check-label" data-bind="attr: { for: $component.id + value }, text: label"></label>
</div>
<!-- /ko -->