<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-outline-primary" data-bind="visible: hasPrev, click: prevStep">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
            Back to previous page
        </button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary" data-bind="visible: hasNext, click: nextStep">
            Continue to next page
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-primary" data-bind="visible: hasFinish, click: finishStep">
            Get quotes
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>
</div>
<!-- 
<div class="d-flex justify-content-xs-center justify-content-sm-start">

    <div class="order-sm-2">
        <button type="button" class="btn btn-primary" data-bind="visible: hasFinish, click: finishStep">
            Get quotes <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>
    <div class="order-sm-1">
        <button type="button" class="btn btn-primary" data-bind="visible: hasNext, click: nextStep">
            Continue to next page <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>
    </div>

    <div class="order-sm-0">
        <button type="button" class="btn btn-secondary" data-bind="visible: hasPrev, click: prevStep">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg> Back to previous page
        </button>
    </div>
</div> -->
<!-- 

<div class="row gap-2 d-sm-block">
    <button class="order-sm-1 btn btn-primary" type="button">
        Continue to next page
    </button>
    <button class="order-sm-0 btn btn-primary" type="button">
        Back to previous page
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 order-sm-3">
        <button class="btn btn-primary" type="button">
            Continue to next page
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 col order-sm-2">
        <button class="btn btn-primary" type="button">
            Back to previous page
        </button>
      </div>
    </div>
  </div> -->