@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       'Open Sans', $font-family-sans-serif !default;

$primary: #590f85;

$transition-collapse:         height .15s ease;

$input-group-addon-border-color: $primary;
