<header-component></header-component>

<main role="main" class="flex-shrink-5" id="main-form">
    <div class="container">
        <div class="row mx-0 pb-0">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <debug></debug>
                    </div>
                </div>
                <div class="sticky-top bg-primary bg-gradient text-white">
                    <div class="row">
                        <div class="col">
                            <step-breadcrumb />
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <form-layout />
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <step-nav-button />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<sticky-footer />