<fieldset>

    <div data-bind="foreach: questions">
        <question params="id: id, isDependantQuestion: true"></question>
    </div>

</fieldset>

<div class="col-xs-12 col-sm-6 offset-sm-6 pt-3">
    <!-- ko if: showSaveButton -->
    <button type="button" class="btn btn-primary" data-bind="click: saveClicked">
        Save
    </button>
    <!-- /ko -->

    <!-- ko if: showCancelButton -->
    <button type="button" class="btn btn-link" data-bind="click: cancelClicked">
        Cancel
    </button>
    <!-- /ko -->
</div>