<!-- ko if: inlineOptions() === true -->
<div class="row">
    <!-- ko foreach: radioOptions -->
    <div class="col-6">
        <div class="d-grid gap-2">
            <input type="radio" class="btn-check" data-bind="attr: { name: $component.id, id: $component.id + value, value: value }, 
                        checked: $component.value, 
                        checkedValue: value" autocomplete="off">
            <label class="btn btn-outline-primary" data-bind="attr: { for: $component.id + value }, 
                                                              text: label"></label>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->

<!-- ko if: inlineOptions() === false -->
<div class="d-grid gap-2">
    <!-- ko foreach: radioOptions -->
    <input type="radio" class="btn-check" data-bind="attr: { name: $component.id, id: $component.id + value, value: value }, 
                        checked: $component.value, 
                        checkedValue: value" autocomplete="off">
    <label class="btn btn-outline-primary" data-bind="attr: { for: $component.id + value }, text: label"></label>
    <!-- /ko -->

    <!-- ko if: hasOtherList -->
    <div class="col-12">
        <div class="d-grid gap-2">
            <input class="btn-check" type="radio" data-bind="attr: { name: $component.id, id: $component.id + 'other' }, 
                        checked: otherClicked, 
                        checkedValue: true,
                        validationOptions: {insertMessages: false}" autocomplete="off">
            <label class="btn btn-outline-primary" data-bind="attr: { for: $component.id + 'other' }">More options</label>
        </div>
    </div>
    <!-- ko if: otherClicked() === true -->
    <field-list params="id: id, optionsKey: options.otherOptionsKey"></field-list>
    <!-- /ko -->

    <!-- /ko -->
</div>
<!-- /ko -->