<!-- ko if: introVisible() === true -->
<div class="form__intro">
    <h2 class="fw-bolder" data-bind="text: introHeader">
    </h2>
    <h6 data-bind="text: introSubHeader">
    </h6>
    <small class="text-muted" data-bind="text: introHint">
    </small>
</div>
<!-- /ko -->

<fieldset>
    <legend class="fw-bolder mt-5" data-bind="text: title"></legend>

    <!-- ko if: hasNotification -->
    <notification params="id: areaId"></notification>
    <!-- /ko -->

    <div data-bind="foreach: questions">
        <question params="id: id"></question>
    </div>
</fieldset>