<header>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"></use></svg>
        <span class="fs-4">Dynamic Form Builder Demo</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Car</a></li>
        <li class="nav-item"><a href="#" class="nav-link">House</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pet</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Travel</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Life</a></li>
      </ul>
    </header>
  </div>
</header>