<div class="card position-static d-flex align-items-stretch p-3 rounded-3 shadow bg-body w-600px">
    <div class="card-body">
        <h5 class="card-title fw-bolder" data-bind="text: vehicleSummary"></h5>
        <p class="card-text" data-bind="text: vehicleModel"></p>
        <a href="#" class="card-link" data-bind="click: notTheRightCarClicked">Not the right car?</a>
    </div>
</div>