<!-- ko if: questionVisible() === true -->
<div class="position-relative pb-3 pt-3"
    data-bind="css: { 'border-start border-4 border-primary dependant': isDependantQuestion }">
    <div class="form-group row pt-4 question"
        data-bind="validationElement: value, css: { 'ps-3': isDependantQuestion }">
        <div class="col-xs-12 col-sm-6">
            <div class="row">
                <div class="col-xs-10 col-sm-12 fw-bolder order-0">
                    <div class="position-relative">
                        <div class="validationMessage ms- me-5 pb-3" data-bind="validationMessage: value">
                            <i
                                class="bi bi-exclamation-triangle-fill position-absolute top-50 start-0 translate-middle fs-2"></i>
                        </div>
                    </div>
                    <field-label params="id: id"></field-label>
                </div>

                <!-- ko if: hasHelpText -->
                <div class="col-xs-2 col-sm-12 order-xs-1 order-sm-2">
                    <help-text params="id: id"></help-text>
                </div>

                <!-- ko if: smallTextVisible -->
                <div class="col offset-xs-12 offset-sm-0 mt-2 order-xs-2 order-sm-1">
                    <small class="form-text text-muted" data-bind="text: smallText"></small>
                </div>
                <!-- /ko -->

                <!-- /ko -->
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 mt-4 mt-sm-0" data-bind="validationOptions: { insertMessages: false }">
            <!-- ko if: type === 'text' -->
            <field-text params="id: id"></field-text>
            <!-- /ko -->

            <!-- ko if: type === 'number' -->
            <field-number params="id: id"></field-number>
            <!-- /ko -->

            <!-- ko if: type === 'number-select' -->
            <field-number-select params="id: id"></field-number-select>
            <!-- /ko -->

            <!-- ko if: type === 'currency' -->
            <field-currency params="id: id"></field-currency>
            <!-- /ko -->

            <!-- ko if: type === 'date' -->
            <field-date params="id: id"></field-date>
            <!-- /ko -->

            <!-- ko if: type === 'date-single-format' -->
            <field-date-single-format params="id: id"></field-date-single-format>
            <!-- /ko -->

            <!-- ko if: type === 'radio' -->
            <field-radio params="id: id"></field-radio>
            <!-- /ko -->

            <!-- ko if: type === 'checkbox' -->
            <field-checkbox params="id: id"></field-checkbox>
            <!-- /ko -->

            <!-- ko if: type === 'list' -->
            <field-list params="id: id, optionsKey: question.options.optionsKey"></field-list>
            <!-- /ko -->

            <!-- ko if: type === 'assumption-list' -->
            <field-assumption-list params="id: id"></field-assumption-list>
            <!-- /ko -->

            <!-- ko if: type === 'vehicle-find' -->
            <vehicle-find params="id: id"></vehicle-find>
            <!-- /ko -->

            <!-- ko if: type === 'vehicle-summary' -->
            <vehicle-summary params="id: id"></vehicle-summary>
            <!-- /ko -->

            <!-- ko if: type === 'collection-summary' -->
            <collection-summary params="id: id"></collection-summary>
            <!-- /ko -->
        </div>
    </div>
</div>

<!-- ko if: hasNotification -->
<notification params="id: id"></notification>
<!-- /ko -->

<!-- ko if: hasItems() -->
<div data-bind="foreach: items()">
    <question params="id: id, isDependantQuestion: true"></question>
</div>
<!-- /ko -->

<!-- ko if: showCollection() === true -->
<collection-wrapper params="id: id"></collection-wrapper>
<!-- /ko -->

<!-- /ko -->