.form-group {
    color: #3d403d;
}

.validationMessage {
    color: #dc3545
}

.validationMessage::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='26' fill='%23e21219'%3E%3Cpath fill-rule='evenodd' d='M16.175 19.617c0 .634-.526 1.149-1.175 1.149a1.162 1.162 0 0 1-1.175-1.15c0-.634.526-1.148 1.175-1.148s1.175.514 1.175 1.149zM15 9.68c.649 0 1.175.515 1.175 1.15v5.407c0 .635-.526 1.149-1.175 1.149a1.162 1.162 0 0 1-1.175-1.15V10.83c0-.634.526-1.149 1.175-1.149zM3.21 23.416L15 3.448l11.79 19.968H3.21zm26.632.575L16.036.603l-.007-.012-.01-.017h-.001A1.179 1.179 0 0 0 15 0a1.18 1.18 0 0 0-1.017.575L.157 23.99h.001a1.126 1.126 0 0 0 0 1.15c.217.368.611.573 1.017.573v.001h27.65c.406-.001.8-.206 1.018-.574a1.126 1.126 0 0 0-.001-1.15z'/%3E%3C/svg%3E");
    // position: absolute;
    // left: 0;
    margin: auto 5px
}

.dependant {
    border-color: #decfe7 !important;
}