<!-- ko if: isGroupRemoved() === false -->
<div class="card w-600px mb-3">
    <div class="card-body">
        <h5 class="card-title fw-bolder" data-bind="text: summaryTtile"></h5>
        <p class="card-text" data-bind="text: summaryMutedDetail"></p>
        <p class="card-text" data-bind="text: summaryDetail"></p>
        <a href="#" class="card-link" data-bind="click: removeClicked">Remove</a>
    </div>
</div>
<!-- /ko -->
<!-- ko if: isGroupRemoved() === true -->
<div class="card bg-light w-600px mb-3">
    <div class="card-body">
        <h5 class="card-title fw-bolder">Item removed</h5>
        <a href="#" class="card-link" data-bind="click: undoClicked">Undo</a>
    </div>
</div>
<!-- /ko -->