<div class="row">
    <field-text params="id: id"></field-text>
</div>
<div class="row">
    <div class="col mt-4">
        <button type="button" class="btn btn-outline-primary" data-bind="click: findCarClicked">Find car</button>
    </div>
</div>

<p class="vehicle-question__manual">
    Or
    <button type="button" class="btn btn-link" data-bind="click: findByMakeAndModelClicked">
        find your car by make and model
    </button>
</p>