<label class="question__label" data-bind="css: { 'question__label--valid': isValid }">
    <div class="me-4">
        <span class="fw-bolder" data-bind="text: label"></span>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" color="currentColor" class="question__tick">
        <g fill="none" stroke-width="11" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor">
            <polyline points="70.5,35.5 41.5,64.5 29.5,52.5"></polyline>
        </g>
    </svg>
</label>
<!-- 
value !== undefined: <p data-bind="text: value !== undefined"></p>
vm.value.isModified !== undefined: <p data-bind="text: value.isModified !== undefined"></p>
vm.value.isValid(): <p data-bind="text: value.isValid"></p> -->